# Pandas Introduction

## Two main data types
### Series and Data frame

In [1]:
import pandas as pd

In [3]:
# Series: 1-dimensional
cars_makers = pd.Series(['BMW', 'Audi', 'Porsche'])

In [5]:
cars_makers

0        BMW
1       Audi
2    Porsche
dtype: object

In [7]:
some_colours = pd.Series(['Yellow', 'Green', 'Purple'])

In [8]:
some_colours

0    Yellow
1     Green
2    Purple
dtype: object

In [9]:
# Data frame 2-dimensional
cars = pd.DataFrame({
    'Car Makers': cars_makers,
    'Colours': some_colours
})

In [10]:
cars

  Car Makers Colours
0        BMW  Yellow
1       Audi   Green
2    Porsche  Purple