In [14]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 4, np.nan, 6, 8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
# Creating a Data Frame from a NumPy generator
df = pd.DataFrame(np.random.randint(1, 11, size=(3, 3)), columns=list('ABC'))
df

   A   B  C
0  8  10  9
1  9   5  1
2  3   7  7

In [10]:
# Creating a Data Frame by passing a dict of objects that can be converted to series-like
df = pd.DataFrame({
    'A': 1.0,
    'B': pd.Series(1, index=list(range(4)), dtype='float32'),
    'C': np.array([3] * 4, dtype='int32'),
    'D': pd.Categorical(['test', 'train', 'test', 'train']),
    'E': 'foo',
})
df

     A    B  C      D    E
0  1.0  1.0  3   test  foo
1  1.0  1.0  3  train  foo
2  1.0  1.0  3   test  foo
3  1.0  1.0  3  train  foo

In [11]:
df.dtypes

A     float64
B     float32
C       int32
D    category
E      object
dtype: object

In [12]:
# display the index columns
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')